# Configurações comuns para todos os ambientes
spring:
  application:
    name: servico-api-odontoprev
  
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true
        jdbc:
          batch_size: 20
    open-in-view: false

# Configurações do servidor
server:
  port: ${SERVER_PORT:8080}
  servlet:
    context-path: ${SERVER_CONTEXT_PATH:/}
  
# Configurações de logging
logging:
  level:
    root: ${LOG_LEVEL:INFO}
    com.odontoPrev: ${LOG_LEVEL_APP:DEBUG}
    org.springframework.web: ${LOG_LEVEL_WEB:INFO}
    org.hibernate.SQL: ${LOG_LEVEL_SQL:INFO}
    org.hibernate.type.descriptor.sql.BasicBinder: ${LOG_LEVEL_SQL_PARAMS:INFO}

# Configurações do Feign Client
feign:
  client:
    config:
      default:
        connectTimeout: ${FEIGN_CONNECT_TIMEOUT:10000}
        readTimeout: ${FEIGN_READ_TIMEOUT:60000}
        loggerLevel: ${FEIGN_LOG_LEVEL:BASIC}

# Configurações do Scheduler
spring.task.scheduling:
  pool:
    size: ${SCHEDULER_POOL_SIZE:10}

# Configurações do Jackson
spring.jackson:
  serialization:
    write-dates-as-timestamps: false
  deserialization:
    fail-on-unknown-properties: false
  time-zone: America/Sao_Paulo