server:
  port: 8080

spring:
  profiles:
    active: hml
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect

---
spring:
  config:
    activate:
      on-profile: hml
  datasource:
    url: jdbc:oracle:thin:@10.10.0.14:1521:TASYHML
    username: pontetech
    password: Qvcp889z
    driver-class-name: oracle.jdbc.OracleDriver

odontoprev:
  api:
    base-url: "https://api-hml.odontoprev.com.br:8243"
    base-url-auth: "https://api-hml.odontoprev.com.br:8243"
    base-url-login: "https://api-hml.odontoprev.com.br:8243"
    path: "/dcms/empresa/2.0"
    app-token: "X2JlUWZkMW5PTnE5WWpyYVZwZkl5N2J0eVhJYTpCV25wMURLMlJkeXowYXNBVXU2QkFkSUcnM01h"
    user:
      login: "13433638"
      senha: "gWZ84t1NCX3a"
      appid: "ODPV"
  credentials:
    token: "X2JlUWZkMW5PTnE5WWpyYVZwZkl5N2J0eVhJYTpCV25wMUsuMlJkeXowYXNBVXU2QkFkSUcnM01h"
    empresa: "787392"
    usuario: "13433638"
    senha: "gWZ84t1NCX3a"
    app-id: "ODPV"

---
spring:
  config:
    activate:
      on-profile: prd
  datasource:
    url: jdbc:oracle:thin:@10.10.0.10:1521:TASYPRD
    username: pontetech
    password: Qvcp889z
    driver-class-name: oracle.jdbc.OracleDriver

odontoprev:
  api:
    base-url: "https://api.odontoprev.com.br:8243"
    base-url-auth: "https://api.odontoprev.com.br:8243"
    base-url-login: "https://api.odontoprev.com.br:8243"
    path: "/dcms/empresa/2.0"
    app-token: "X2JlUWZkMW5PTnE5WWpyYVZwZkl5N2J0eVhJYTpCV25wMUsuMlJkeXowYXNBVXU2QkFkSUcnM01h"
    user:
      login: "13433638"
      senha: "gWZ84t1NCX3a"
      appid: "ODPV"
  credentials:
    token: "X2JlUWZkMW5PTnE5WWpyYVZwZkl5N2J0eVhJYTpCV25wMUsuMlJkeXowYXNBVXU2QkFkSUcnM01h"
    empresa: "787392"
    usuario: "13433638"
    senha: "gWZ84t1NCX3a"
    app-id: "ODPV"
